* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #30282E;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #C9ABC5; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1.5rem 1.5rem;
  margin-bottom: 7.5rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      margin-bottom: 10rem; } }
  .header__logo {
    margin-bottom: 2rem;
    font-size: 7rem; }

.user {
  position: relative;
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 7rem;
  background-color: #E7BFDB;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  transition: all .2s ease-in;
  display: none;
  opacity: 0; }
  @media only screen and (max-width: 56.25em) {
    .user {
      background-color: #30282E;
      box-shadow: none; } }
  .user__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .user__container-username {
      margin-top: -2rem; }
    .user__container-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 80%;
      align-items: center;
      margin-bottom: 1.7rem; }
      @media only screen and (max-width: 56.25em) {
        .user__container-row {
          flex-direction: column; } }
  .user__pic {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    border: .5rem solid #7D426E;
    margin-bottom: 5rem; }
    .user__pic img {
      width: 100%;
      border-radius: 100%; }
  .user__profile-h2 {
    color: #4A2740; }
    @media only screen and (max-width: 56.25em) {
      .user__profile-h2 {
        color: #fff; } }
  .user__profile-h3 {
    color: #30282E; }
    @media only screen and (max-width: 56.25em) {
      .user__profile-h3 {
        color: #7D426E; } }
  .user__profile-properties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .user__profile-properties h5 {
      color: #7D426B;
      margin-left: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .user__profile-properties h5 {
          color: rgba(255, 255, 255, 0.9); } }
    .user__profile-properties i {
      color: #7D426B;
      line-height: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .user__profile-properties i {
          color: rgba(255, 255, 255, 0.9); } }
  .user__summary {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .user__summary {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 150px));
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 0.5rem; } }
    .user__summary--box1 {
      background-color: #30282E;
      padding: 1rem 3rem;
      margin-right: .6rem;
      border-radius: .7rem; }
      @media only screen and (max-width: 56.25em) {
        .user__summary--box1 {
          background-color: #7D426E; } }
      .user__summary--box1 h4 {
        font-size: 3.5rem;
        font-weight: 600; }
      .user__summary--box1 h5 {
        font-size: 1.6rem;
        text-transform: uppercase; }
    .user__summary--box2 {
      background-color: #30282E;
      padding: 1rem 3rem;
      margin-right: .6rem;
      border-radius: .7rem; }
      @media only screen and (max-width: 56.25em) {
        .user__summary--box2 {
          background-color: #7D426E; } }
      .user__summary--box2 h4 {
        font-size: 3.5rem;
        font-weight: 600; }
      .user__summary--box2 h5 {
        font-size: 1.6rem;
        text-transform: uppercase; }
    .user__summary--box3 {
      background-color: #30282E;
      padding: 1rem 3rem;
      margin-right: .6rem;
      border-radius: .7rem; }
      @media only screen and (max-width: 56.25em) {
        .user__summary--box3 {
          background-color: #7D426E; } }
      .user__summary--box3 h4 {
        font-size: 3.5rem;
        font-weight: 600; }
      .user__summary--box3 h5 {
        font-size: 1.6rem;
        text-transform: uppercase; }
    .user__summary--box4 {
      background-color: #30282E;
      padding: 1rem 3rem;
      border-radius: .7rem; }
      @media only screen and (max-width: 56.25em) {
        .user__summary--box4 {
          background-color: #7D426E; } }
      .user__summary--box4 h4 {
        font-size: 3.5rem;
        font-weight: 600; }
      .user__summary--box4 h5 {
        font-size: 1.6rem;
        text-transform: uppercase; }

.repos {
  background-color: rgba(255, 255, 255, 0.55);
  margin-top: -7rem;
  padding: 20rem 5rem 10rem;
  color: #fff;
  display: none;
  opacity: 0;
  transition: all .2s ease-in .2s; }
  @media only screen and (max-width: 56.25em) {
    .repos {
      margin-top: 0;
      padding: 7rem 1rem 5rem; } }
  .repos__heading {
    display: block;
    margin: 0 auto; }
  .repos__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; }
  .repos__box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem 2rem;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s; }
    .repos__box:hover {
      box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 30px -15px; }
    .repos__box:not(:last-child) {
      margin-right: 1rem; }
    .repos__box-topic {
      font-size: 2.3rem;
      font-weight: 600;
      text-transform: capitalize;
      color: #30282E;
      margin-bottom: 2.5rem; }
    .repos__box-desc {
      font-size: 1.6rem;
      color: rgba(48, 40, 46, 0.7); }
    .repos__box-footer {
      text-decoration: none;
      margin-top: 1.5rem;
      font-size: 1.3rem;
      color: rgba(48, 40, 46, 0.7);
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

.form {
  width: 37rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 2.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(125, 104, 119, 0.8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #4A2740; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #4A2740; }
    .form__input::-webkit-input-placeholder {
      color: #C9ABC5; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
