
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;
// .wrapper {
//     display: flex;
//     flex-direction: column;
// }

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem 1.5rem;
    margin-bottom: 7.5rem;

    @media only screen and (max-width: $bp-medium){
        margin-bottom: 10rem;
    }

    &__logo {
        margin-bottom: 2rem;
        font-size: 7rem;
        // color: $color-gray-light;
    }
}

.user {
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 7rem;
    background-color: $color-gray-light2;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    border-radius: 1rem;
    transition: all .2s ease-in;
    display: none;
    opacity: 0;

    @media only screen and (max-width: $bp-medium){
        background-color: $color-primary;
        box-shadow: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-username {
            margin-top: -2rem;
        }

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 80%;
            align-items: center;
            margin-bottom: 1.7rem;

            @media only screen and (max-width: $bp-medium){
                flex-direction: column;
            }

            // &:not(:last-child) {
            //     margin-right: 1.5rem;
            // }
        }
    }
   
    &__pic {
        position: absolute;
        width: 16rem;
        height: 16rem;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
        border: .5rem solid #7D426E;
        margin-bottom: 5rem;

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    &__profile {
       
        &-h2 {
            color: $color-secondary;

            @media only screen and (max-width: $bp-medium){
                color: $color-white;
            }
        }

        &-h3 {
            color: $color-primary;

            @media only screen and (max-width: $bp-medium){
                color: #7D426E;
            }
        }

        &-properties {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h5 {
                color: $color-secondary-light;
                margin-left: 1rem;

                @media only screen and (max-width: $bp-medium){
                    color: rgba($color-white, .9)
                }
            }

            i {
                color: $color-secondary-light;
                line-height: 2rem;

                @media only screen and (max-width: $bp-medium){
                    color: rgba($color-white, .9)
                }
            }
        }
    }

    &__summary {

        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-small){
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 150px));
            -webkit-box-pack: center;
            justify-content: center;
            margin-top: 2rem;
            gap: 0.5rem;
        }

        

        &--box {
            

            &1 {
                background-color: $color-primary;
                padding: 1rem 3rem;
                margin-right: .6rem;
                border-radius: .7rem;

                @media only screen and (max-width: $bp-medium){
                    background-color: #7D426E;
                }
                
               
               h4 {
                  font-size: 3.5rem;
                  font-weight: 600;
               } 

               h5 {
                font-size: 1.6rem;
                text-transform: uppercase;
             }

            }
            &2 {
                background-color: $color-primary;
                padding: 1rem 3rem;
                margin-right: .6rem;
                border-radius: .7rem;

                @media only screen and (max-width: $bp-medium){
                    background-color: #7D426E;
                }

                h4 {
                    font-size: 3.5rem;
                    font-weight: 600;
                 } 
  
                 h5 {
                    font-size: 1.6rem;
                    text-transform: uppercase;
               }
            }
            &3 {
                background-color: $color-primary;
                padding: 1rem 3rem;
                margin-right: .6rem;
                border-radius: .7rem;

                @media only screen and (max-width: $bp-medium){
                    background-color: #7D426E;
                }

                h4 {
                    font-size: 3.5rem;
                    font-weight: 600;
                 } 
  
                 h5 {
                    font-size: 1.6rem;
                    text-transform: uppercase;
               }
            }
            &4 {
                background-color: $color-primary;
                padding: 1rem 3rem;
                border-radius: .7rem;

                @media only screen and (max-width: $bp-medium){
                    background-color: #7D426E;
                }

                h4 {
                    font-size: 3.5rem;
                    font-weight: 600;
                 } 
  
                 h5 {
                    font-size: 1.6rem;
                    text-transform: uppercase;
               }
            }
        }
    }
}

.repos {
    background-color: rgba($color-white, .55);
    margin-top: -7rem;
    padding: 20rem 5rem 10rem;
    color: $color-white;
    display: none;
    opacity: 0;
    transition: all .2s ease-in .2s;

    @media only screen and (max-width: $bp-medium){
        margin-top: 0;
        padding: 7rem 1rem 5rem;
    }

    &__heading {
        display: block;
        margin: 0 auto;
    }
    

    &__container {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    &__box {
        background-color: rgba($color-white, .8);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
        transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;

        &:hover {
            box-shadow: rgba(0, 0, 0, .6) 0px 10px 30px -15px;
        }
        
        &:not(:last-child) {
            margin-right: 1rem;
        }

        &-topic {
            font-size: 2.3rem;
            font-weight: 600;
            text-transform: capitalize;
            color: $color-primary;
            margin-bottom:  2.5rem;
        }

        &-desc {
            font-size: 1.6rem;
            color: rgba($color-primary, .7);
        }

        &-footer {
            text-decoration: none;
            margin-top: 1.5rem;
            font-size: 1.3rem;
            color: rgba($color-primary, .7);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

